@{
    ViewData["Title"] = "Home Page";
}
<a asp-controller="Agents" asp-action="AgentView" >הצגת הסוכנים</a> |
<a asp-controller="Home" asp-action="ShowMissions" >אישור חיבור למטרה</a> |
<a asp-controller="Targets" asp-action="TaretsView" >הצגת המטרות</a> |



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>